In [17]:
import pandas as pd

In [146]:
death_list = pd.read_csv("Death.csv")

In [155]:
death_list=death_list[(death_list["Deaths"] != ".") & (death_list["Death Rate"] != ".") & (death_list["Age Adjusted Death Rate"] != ".")]

In [158]:
death_list["Deaths"] = pd.to_numeric(death_list["Deaths"])
death_list["Death Rate"] = pd.to_numeric(death_list["Death Rate"])
death_list["Age Adjusted Death Rate"] = pd.to_numeric(death_list["Age Adjusted Death Rate"])

In [160]:
death_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 708 entries, 0 to 1093
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     708 non-null    int64
 1   Leading Cause            708 non-null    object
 2   Sex                      708 non-null    object
 3   Race Ethnicity           708 non-null    object
 4   Deaths                   708 non-null    int64
 5   Death Rate               708 non-null    float64
 6   Age Adjusted Death Rate  708 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 44.2+ KB

In [161]:
death_list.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2010,Influenza (Flu) and Pneumonia (J09-J18),F,Hispanic,228,23.1,23.1
1,2008,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Hispanic,68,6.6,6.6
2,2013,"Accidents Except Drug Posioning (V01-X39, X43,...",M,White Non-Hispanic,271,17.9,17.9
3,2010,Cerebrovascular Disease (Stroke: I60-I69),M,Hispanic,140,21.4,21.4
4,2009,"Assault (Homicide: Y87.1, X85-Y09)",M,Black Non-Hispanic,255,30.0,30.0

In [162]:
death_list['Leading Cause'].reset_index ()

     index                                      Leading Cause
0        0            Influenza (Flu) and Pneumonia (J09-J18)
1        1  Accidents Except Drug Posioning (V01-X39, X43,...
2        2  Accidents Except Drug Posioning (V01-X39, X43,...
3        3          Cerebrovascular Disease (Stroke: I60-I69)
4        4                 Assault (Homicide: Y87.1, X85-Y09)
..     ...                                                ...
703   1087  Nephritis, Nephrotic Syndrome and Nephrisis (N...
704   1090  Accidents Except Drug Posioning (V01-X39, X43,...
705   1091              Malignant Neoplasms (Cancer: C00-C97)
706   1092    Intentional Self-Harm (Suicide: X60-X84, Y87.0)
707   1093  Essential Hypertension and Renal Diseases (I10...

[708 rows x 2 columns]

In [163]:
flu_death = "Influenza (Flu) and Pneumonia (J09-J18)"

In [164]:
flu_death

'Influenza (Flu) and Pneumonia (J09-J18)'

In [165]:
flu=death_list[death_list["Leading Cause"] == flu_death]

In [166]:
flu.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2010,Influenza (Flu) and Pneumonia (J09-J18),F,Hispanic,228,23.1,23.1
21,2009,Influenza (Flu) and Pneumonia (J09-J18),M,Hispanic,183,30.9,30.9
42,2009,Influenza (Flu) and Pneumonia (J09-J18),F,Black Non-Hispanic,281,24.5,24.5
71,2009,Influenza (Flu) and Pneumonia (J09-J18),M,White Non-Hispanic,555,34.3,34.3
83,2007,Influenza (Flu) and Pneumonia (J09-J18),F,Black Non-Hispanic,295,26.9,26.9

In [167]:
flu.sort_values("Deaths")

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
266,2007,Influenza (Flu) and Pneumonia (J09-J18),F,Asian and Pacific Islander,58,15.8,15.8
987,2007,Influenza (Flu) and Pneumonia (J09-J18),M,Asian and Pacific Islander,66,25.7,25.7
815,2008,Influenza (Flu) and Pneumonia (J09-J18),F,Asian and Pacific Islander,73,19.1,19.1
941,2010,Influenza (Flu) and Pneumonia (J09-J18),F,Asian and Pacific Islander,74,16.9,16.9
254,2012,Influenza (Flu) and Pneumonia (J09-J18),F,Asian and Pacific Islander,74,15.1,15.1
...,...,...,...,...,...,...,...
404,2009,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,629,23.1,23.1
976,2011,Influenza (Flu) and Pneumonia (J09-J18),M,White Non-Hispanic,646,39.3,39.3
730,2007,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,659,23.2,23.2
588,2011,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,696,25.4,25.4
687,2010,Influenza (Flu) and Pneumonia (J09-J18),F,White Non-Hispanic,707,24.8,24.8

In [203]:
flu.sort_values("Deaths").mean()

Year                       2010.500000
Deaths                      288.015625
Death Rate                   27.048437
Age Adjusted Death Rate      27.048437
dtype: float64

In [204]:
flu.sort_values("Deaths").max()

Year                                                          2014
Leading Cause              Influenza (Flu) and Pneumonia (J09-J18)
Sex                                                              M
Race Ethnicity                                  White Non-Hispanic
Deaths                                                         707
Death Rate                                                    40.1
Age Adjusted Death Rate                                       40.1
dtype: object

In [205]:
flu.sort_values("Deaths").min()

Year                                                          2007
Leading Cause              Influenza (Flu) and Pneumonia (J09-J18)
Sex                                                              F
Race Ethnicity                          Asian and Pacific Islander
Deaths                                                          58
Death Rate                                                    14.1
Age Adjusted Death Rate                                       14.1
dtype: object

In [206]:
flu.sort_values("Deaths").median()

Year                       2010.5
Deaths                      227.5
Death Rate                   25.6
Age Adjusted Death Rate      25.6
dtype: float64

In [207]:
flu.sort_values("Deaths").sum()

Year                                                                  128672
Leading Cause              Influenza (Flu) and Pneumonia (J09-J18)Influen...
Sex                        FMFFFMFFFFMMMMMMMMMFMMFMMFMFFFMFFMMMMMMFFMFFFF...
Race Ethnicity             Asian and Pacific IslanderAsian and Pacific Is...
Deaths                                                                 18433
Death Rate                                                            1731.1
Age Adjusted Death Rate                                               1731.1
dtype: object

In [187]:
year=flu.groupby ("Year").sum ()
race= flu. groupby ("Race Ethnicity").sum()
sex=flu. groupby ("Sex").sum()

In [189]:
year

      Deaths  Death Rate  Age Adjusted Death Rate
Year
2007    2216       223.6                    223.6
2008    2267       231.4                    231.4
2009    2238       215.3                    215.3
2010    2442       228.4                    228.4
2011    2462       227.9                    227.9
2012    2217       201.1                    201.1
2013    2416       214.3                    214.3
2014    2175       189.1                    189.1

In [190]:
race

                             Year  Deaths  Death Rate  Age Adjusted Death Rate
Race Ethnicity
Asian and Pacific Islander  32168    1328       348.8                    348.8
Black Non-Hispanic          32168    4148       485.7                    485.7
Hispanic                    32168    3350       439.7                    439.7
White Non-Hispanic          32168    9607       456.9                    456.9

In [191]:
sex

      Year  Deaths  Death Rate  Age Adjusted Death Rate
Sex
F    64336    9674       680.8                    680.8
M    64336    8759      1050.3                   1050.3

In [196]:
sex.to_csv('sex.csv', index=False)

In [197]:
race.to_csv('race.csv', index=False)

In [198]:
year.to_csv('year.csv', index=False)

In [212]:
year.sort_values("Year").median()

Deaths                     2252.50
Death Rate                  219.45
Age Adjusted Death Rate     219.45
dtype: float64

In [213]:
year.sort_values("Year").max()

Deaths                     2462.0
Death Rate                  231.4
Age Adjusted Death Rate     231.4
dtype: float64

In [214]:
year.sort_values("Year").min()

Deaths                     2175.0
Death Rate                  189.1
Age Adjusted Death Rate     189.1
dtype: float64

In [215]:
year.sort_values("Year").mean()

Deaths                     2304.1250
Death Rate                  216.3875
Age Adjusted Death Rate     216.3875
dtype: float64

In [216]:
year.sort_values("Year").sum()

Deaths                     18433.0
Death Rate                  1731.1
Age Adjusted Death Rate     1731.1
dtype: float64